@tailwind base;
@tailwind components;
@tailwind utilities;


.js-cookie-consent {
    text-align: center;
    position: fixed;
    color: #fff;
    padding:1em;
    background: #000000;
    bottom:0;
    right: 0;
    left: 0;
}

.js-cookie-consent-agree {
    background:#222;
    border-radius: 5px;
    padding: 2px 6px;
}
@layer components {
    .btn-student-active {
      @apply text-xl px-10 py-2 border-2 border-white bg-gradient-to-r from-blue-900 to-purple-900 text-white rounded-full hover:brightness-50 animate-pulse;
    }

    .btn-student {
        @apply text-xl px-10 py-2 border-2 border-white bg-gray-700 text-white rounded-full hover:brightness-50;
      }

      .avatar-img {
          @apply block absolute w-6/12;
      }

      .btn-scholar {
          @apply bg-gradient-to-r from-purple-900 to-blue-900 text-white border-none;
      }

      .bg-scholar {
          @apply bg-gradient-to-r from-purple-900 to-blue-900 text-white border-none;
      }

      .quick-search {
          @apply input input-bordered input-sm;
      }
  }

* {
    cursor: url('/img/cursor/arrow.png'), default;
}

.avatar-img {
    top:25vh;
}

a, button, label, .dropdown, .btn, .breadcrumbs a, img:hover {
    cursor: url('/img/cursor/pointer.png'), default;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius:10px;
    background: #ddd;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #130223;
    border-radius: 10px;
    border: 3px solid #edf2f7;
  }

/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #07000B;
  }
